/* Стили для баннера */
.banner {
    background-color: #804040; /* Цвет фона баннера */
    color: white; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 20px; /* Отступы */
    font-size: 24px; /* Размер шрифта */
}

/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif; /* Шрифт страницы */
    margin: 10; /* Убираем отступы */
    padding: 10; /* Убираем отступы */
}

/* Контейнер для трех боксов */
.container {
    display: flex; /* Используем Flexbox */
    justify-content: space-around; /* Пробел между элементами */
    margin: 20px; /* Отступы вокруг контейнера */
}

/* Стили для боксов форм */
.form-box {
    background-color: #f8f9fa; /* Цвет фона бокса */
    border: 1px solid #ced4da; /* Граница */
    border-radius: 5px; /* Закругление углов */
    padding: 20px; /* Отступы внутри бокса */
    width: 30%; /* Ширина бокса */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Стили для заголовков форм */
h1, h2 {
    text-align: center; /* Выравнивание заголовка по центру */
}

/* Стили для меток и полей ввода */
label {
    margin-top: 10px; /* Отступ сверху для меток */
    display: block; /* Выравнивание меток по блоку */
}

/* Стили для полей ввода */
input, select {
    width: 96%; /* Ширина полей ввода */
    padding: 8px; /* Отступы внутри полей ввода */
    margin-top: 5px; /* Отступ сверху для полей ввода */
}

/* Стили для кнопок */
button {
    background-color: #804040; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    padding: 10px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругление углов кнопки */
    cursor: pointer; /* Указатель при наведении */
    width: 100%; /* Ширина кнопки */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

/* Стили для сообщений */
#resultMessage {
    color: red; /* Цвет текста сообщения */
    font-weight: bold; /* Жирный текст */
    margin-top: 10px; /* Отступ сверху */
}
